html {
	background-color: blue;
}

body {
	background: orange;
	width: 50%;
	margin: 10px auto;
	padding: 10px;

}

table {
	border-collapse: collapse;
	border: 2px black solid;
	font: 12px sans-serif;
}

td {
	border: 1px black solid;
	padding: 5px;
}